/out/
/target/
/.idea/
*.gitignore
/certificateDB — копия.db
*.xlsx
/DBpath.cnf
/certificateDB.db
*.7z
*.db
*.iml
/_db_backups/
/_certs/
/_manuals/
*.db-journal
/logs/
/files.xml
/glossaries.xml
/templates.xml
