.glossary {
    -fx-fill: mediumBlue;
    -fx-font-weight: bold;
}

.property-full {
    -fx-fill: saddleBrown;
    -fx-font-weight: bold;
}

.property-partial {
    -fx-fill: salmon;
    -fx-font-weight: bold;
}

.error {
    -fx-fill: red;
    -fx-font-weight: bold;
}

/*.node-root-template {
    -fx-font-weight: bold;
}

.node-template {

}*/

.node-root-glossary {
    -fx-text-fill: mediumBlue;
    -fx-font-weight: bold;
}

.node-glossary {
    -fx-text-fill: mediumBlue;
    -fx-font-weight: normal;
}

/*.node-root-file {
    -fx-text-fill: saddleBrown;
    -fx-font-weight: bold;
}

.node-file {
    -fx-text-fill: saddleBrown;
    -fx-font-weight: normal;
}

.node-property-full {
    -fx-text-fill: saddleBrown;
    -fx-font-style: italic
}

.node-property-partial {
    -fx-text-fill: salmon;
    -fx-font-style: italic
}*/

.rtx-content {
    -fx-padding: 0.5em;
    -fx-border-color: derive(-fx-base, -20%);
}

.rtx-content:focused {
    -fx-background-color: -fx-focus-color,
    -fx-control-inner-background,
    -fx-faint-focus-color,
    linear-gradient(from 0px 0px to 0px 5px, -fx-control-inner-background -9%, -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
}
